<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--book bean -->
	<bean id="book" class="com.mercymodest.study.spring.pojo.Book">
		<property name="id" value="15768998498559867"/>
		<property name="name" value="《一入Java深似海》"/>
		<property name="price" value="99.99"/>
	</bean>
</beans>