<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--bean: person-->
	<bean class="com.mercymodest.spring.bean.Person" id="person">
		<property name="id" value="1"/>
		<property name="name" value="modest"/>
		<property name="motto" value="不积跬步无以至千里,不积细流无以成江海"/>
	</bean>
</beans>